asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
dj-database-url==2.3.0
Django==5.2.1
django-ckeditor==6.7.2
django-ckeditor-5==0.2.18
django-js-asset==3.1.2
django-modeltranslation==0.19.14
django-rosetta==0.10.2
django-taggit==6.1.0
gunicorn==23.0.0
idna==3.10
joblib==1.5.0
nltk==3.9.1
numpy==2.2.6
packaging==25.0
pandas==2.2.3
pillow==11.2.1
polib==1.2.0
psycopg2==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
regex==2024.11.6
requests==2.32.3
rosetta==0.3
scipy==1.15.3
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
whitenoise==6.9.0
django-redis==5.4.0
