{% load i18n %}
{% load static %}
<section class="u-align-center u-clearfix u-container-align-center u-grey-5 u-valign-bottom u-section-4"
    id="carousel_4fcd">
    <h2 class="u-align-center u-text u-text-default u-text-1">{% trans "Галерея" %}</h2>
    <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
            {% for photo in latest_photos %}
            <div class="u-effect-hover-zoom u-gallery-item" 
                 data-title="{{ photo.title }}" 
                 data-description="{{ photo.description }}"
                 style="cursor: pointer;">
                <div class="u-back-slide" data-image-width="425" data-image-height="283">
                    <img class="u-back-image u-expanded" src="{{ photo.image.url }}" alt="{{ photo.title }}">
                </div>
                <div class="u-over-slide u-shading u-over-slide-1"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Якщо це домашня сторінка, також підключаємо скрипт -->
<script src="{% static 'js/gallery-modal.js' %}"></script>