{% load i18n %}
{% load custom_filters %}
<section class="u-align-center u-clearfix u-container-align-center u-grey-5 u-section-3" id="carousel_0a76">
    <div
        class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">{% trans "Новини" %}</h2>
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                {% for news in latest_news %}
                <div class="u-container-align-left u-container-style u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-1"
                    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        {% if news.image %}
                        <img class="u-expanded-width u-image u-image-round u-radius u-image-1" alt="{{ news.title }}"
                            data-image-width="425" data-image-height="281" src="{{ news.image.url }}">
                        {% endif %}
                        <h4 class="u-align-left u-text u-text-default u-text-2">{{ news.title }}</h4>
                        <p class="u-align-left u-text u-text-default u-text-3">{{ news.content|truncatehtml:20 }}</p>
                        <a href="{% url 'news_detail' slug=news.slug %}"
                            class="u-active-none u-border-2 u-border-active-palette-1-light-1 u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-active-grey-50 u-text-body-color u-text-hover-grey-50 u-btn-1">
                            {% trans "Дізнатись більше" %}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>