{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}


{% block title %}Галерея{% endblock %}

{% block content %}

<section class="u-clearfix u-container-align-center u-section-1" id="sec-8222">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Галерея</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            {% for image in images %}
            <div class="u-container-style u-image u-list-item u-repeater-item u-shading" style="background-image: url({{ image.image.url  }}); background-size:cover"  data-image-width="740" data-image-height="925">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1">
                <div class="u-border-3 u-border-white u-line u-line-horizontal u-opacity u-opacity-45 u-line-1"></div>
                <h3 class="u-text u-text-default u-text-2"> {{ image.title }}</h3>
                <p class="u-text u-text-default u-text-3">{{ image.description }}</p>
              </div>
            </div>
{% endfor %}

          </div>
        </div>
      </div>
    </section>
    {% endblock %}