{% load static %}
{% load i18n %}
<div class="u-align-center-sm u-align-center-xs u-section-row" data-animation-name="" data-animation-duration="0"
    data-animation-delay="0" data-animation-direction="">
    <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <a href="{% url 'home' %}" class="u-image u-logo u-image-1" data-image-width="612" data-image-height="408"
            title="Головна">
            <img src="{% static 'images/Logo.png' %}" class="u-logo-image u-logo-image-1">
        </a>
        <div class="u-clearfix u-group-elements u-valign-middle-lg u-group-elements-1">
            <div class="u-clearfix u-group-elements u-valign-middle u-group-elements-2" title="">
                <div class="u-social-icons u-social-icons-1">
                    <a class="u-social-url" title="facebook" target="_blank" href=""><span
                            class="u-icon u-social-facebook u-social-icon u-icon-1">
                            <image src="{% static 'images/icons8-facebook-новый.svg' %}">
                                </svg>
                        </span>
                    </a>
                    <a class="u-social-url" title="twitter" target="_blank" href=""><span
                            class="u-icon u-social-icon u-social-twitter u-icon-2">
                            <image src="{% static 'images/icons8-твиттер-в-круге.svg' %}"></image>
                        </span>
                    </a>
                    <a class="u-social-url" title="instagram" target="_blank" href=""><span
                            class="u-icon u-social-icon u-social-instagram u-icon-3">
                            <image src="{% static 'images/icons8-инстаграм-в-круге.svg' %}"></image>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div
            class="u-h-spacing-12 u-language u-language-content-icon-text u-language-layout-dropdown u-v-spacing-6 u-language-1">
            <a class="u-language-active u-language-url" href="#" data-language="uk">
                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px"
                    viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve">
                    <polygon class="st0" points="8,12 2,4 14,4"></polygon>
                </svg>
                <span class="u-icon u-language-icon u-language-uk u-icon-4">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px"
                        style="width: 1em; height: 1em;">
                        <rect y="16" fill="#4D72C0" width="112" height="40"></rect>
                        <rect y="56" fill="#F2DD30" width="112" height="40"></rect>
                    </svg>
                </span>
                {% trans " Українська" %}
            </a>
            <div class="u-border-1 u-border-grey-15 u-h-spacing-12 u-language-dropdown u-v-spacing-6 u-white">
                <a class="u-language-dropdown-url u-language-url" href="#"
                    onclick="event.preventDefault(); document.getElementById('language-uk-form').submit();">
                    <form id="language-uk-form" action="{% url 'set_language' %}" method="post" style="display:none;">
                        {% csrf_token %}
                        <input type="hidden" name="language" value="uk">
                    </form>
                    <span class="u-icon u-language-icon u-language-uk u-icon-4">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px"
                            style="width: 1em; height: 1em;">
                            <rect y="16" fill="#4D72C0" width="112" height="40"></rect>
                            <rect y="56" fill="#F2DD30" width="112" height="40"></rect>
                        </svg>
                    </span>
                    {% trans " Українська" %}
                </a>
                <a class="u-language-dropdown-url u-language-url" href="#"
                    onclick="event.preventDefault(); document.getElementById('language-en-form').submit();">
                    <form id="language-en-form" action="{% url 'set_language' %}" method="post" style="display:none;">
                        {% csrf_token %}
                        <input type="hidden" name="language" value="en">
                    </form>
                    <span class="u-icon u-language-icon u-language-ena u-icon-6">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            xml:space="preserve" class="u-svg-content" viewBox="0 0 112 112" x="0px" y="0px"
                            style="width: 1em; height: 1em;">
                            <path fill="#CB001C" d="M0,96h112V16H0V96z"></path>
                            <path fill="#F4F4F4"
                                d="M0,88h112v-9H0V88z M60,68h52v-9H60V68z M60,51h52v-9H60V51z M60,34h52v-9H60V34z">
                            </path>
                            <rect y="16" fill="#2A3560" width="60" height="63"></rect>
                        </svg>
                    </span>
                    {% trans " Англійська" %}
                </a>
            </div>
        </div>
        <div class="cart-widget">
    <a href="{% url 'shop:cart_detail' %}" class="btn btn-outline-primary">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-counter">0</span>
    </a>
</div>
        
    </div>
</div>