.u-section-1 .u-sheet-1 {
  min-height: 1265px;
}

.u-section-1 .u-text-1 {
  margin: 81px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 55px;
  margin-bottom: 60px;
  grid-template-rows: repeat(1, auto);
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 976px;
  --gap: 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://assets.nicepagecdn.com/d2cc3eaa/2625193/images/14.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-line-1 {
  width: 276px;
  transform-origin: left center;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-1 .u-text-3 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://assets.nicepagecdn.com/d2cc3eaa/2625193/images/6803.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-line-2 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-1 .u-text-5 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://assets.nicepagecdn.com/d2cc3eaa/2625193/images/579.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-line-3 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-1 .u-text-7 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://assets.nicepagecdn.com/d2cc3eaa/2625193/images/y8.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-line-4 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-1 .u-text-9 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://assets.nicepagecdn.com/d2cc3eaa/2625193/images/45677.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-line-5 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-1 .u-text-11 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://assets.nicepagecdn.com/d2cc3eaa/2625193/images/6890.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-line-6 {
  width: 276px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-12 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-1 .u-text-13 {
  margin: 12px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 801px;
    grid-gap: 30px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1420px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3984px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3694px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3403px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 90px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 40px;
    margin-bottom: -22px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 3102px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
  }
}
